.box {
  width: 100%;
  height: 200px;
}

/* desktop normal */
@media screen and (orientation: landscape) {
  .box {
    background-color: red;
    font-size: 5rem;
  }
}

/* tablet devices */
@media screen and (orientation: portrait) {
  .box {
    background-color: blue;
    font-size: 2.5rem;
  }
}
